.container-link{
    display: flex;
    justify-content: center;
    background-color: rgb(41, 38, 38);
    padding: 1rem;
}

.navbar-link{
    text-decoration: none;
    font-size: 1.5rem;
    color:#fff;
    transition: 0.5s;
}

.navbar-link:hover{
    color:red
}

.navbar-group{
    margin-right: 20px;
}

.navbar-group{
    display: flex;
    align-items: center;
}

.icon{
    color: #eee;
    border-radius: 50%;
}